/**
 * ==========================================
 * Created by Pocket Knife Technology.
 * Author: ZhiHua_W <zhihua_wei@foxmail.com>
 * Date: 2016/11/03 0017
 * Time: 上午 9:23
 * Project: Pkadmin后台管理系统
 * Version: 1.0.0
 * Power: 样式扩展
 * ==========================================
 */

.block {
	display: block !important;
}

.panel-bg {
	border: none;
	box-shadow: none;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-border {
	border: 1px solid #d6e9c6;
}

.p-l-0 {
	padding-left: 0px !important;
}

.input-icon {
	position: relative;
}

.inline {
	display: inline-block !important;
	margin-right: 20px;
}

.second {
	color: #fff;
}

.m-r-15 {
	margin-right: 15px;
}

.m-r-5 {
	margin-right: 5px !important;
}

.w-10p {
	width: 10%;
}

.w-16 {
	width: 16px;
}

.w-20p {
	width: 20%;
}

.w-30p {
	width: 30%;
}

.w-90p {
	width: 91.66666666666666%;
}

.h-10p {
	height: 10%;
}

.h-120 {
	height: 120px !important;
}

.m-bot0 {
	margin-bottom: 0 !important;
}

.m-top15 {
	margin-top: 15px !important;
}

.bg-white {
	background-color: white !important;
}

.color-red {
	color: red;
}

.footer-content {
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 50;
}

.z-index-1 {
	z-index: -1;
}

.t-left {
	text-align: left !important;
}

.item-timeline-bg {
	background: none repeat scroll 0% 0% #FFFFFF !important;
}