<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- BEGIN META -->
		<?php $this->load->view('Public/headmeta.html');?>
		<!-- END META -->

		<!-- BEGIN STYLESHEET-->
		<?php $this->load->view('Public/headcss.html');?>
		<!-- END STYLESHEET-->
		<title>
			<?php echo $current['title']."-".$setting['title'];?>
		</title>

	</head>

	<body>
		<!-- BEGIN SECTION -->
		<section id="container">
			<!-- BEGIN HEADER -->
			<?php $this->load->view('Public/header.html');?>
			<!-- END HEADER -->
			<!-- BEGIN SIDEBAR -->
			<?php $this->load->view('Public/sidebar.html');?>
			<!-- END SIDEBAR -->
			<!-- BEGIN MAIN CONTENT -->
			<section id="main-content">
				<!-- BEGIN WRAPPER  -->
				<section class="wrapper">
					<!-- TOPMENU ROW  -->
					<?php $this->load->view('Public/topmenu.html');?>
					<!-- TOPMENU ROW  -->

					<!-- BEGIN ROW  -->
					<div class="row">
						<div class="col-lg-12">
							<section class="panel-bg">
								<header class="panel-heading">
									<span class="label label-primary"><?php echo $current['title'];?></span>
								</header>
								<div class="panel-body">
									<div class="form">
										<form class="cmxform form-horizontal tasi-form" id="authgroupeditForm" method="post" action="<?php echo site_url('Pkadmin/Authgroup/addedit');?>">
											<div class="form-group">
												<label for="title" class="control-label col-lg-2">角色名称</label>
												<div class="col-lg-3">
													<input class="form-control bg-white" id="title" name="title" type="text" value="">
												</div>
											</div>

											<div class="form-group">
												<label for="status" class="control-label col-lg-2">角色状态</label>
												<div class="m-bot15">
													<div class="col-lg-3">
														<input class="form-control" id="status" name="status" type="checkbox" data-toggle="switch">
													</div>
												</div>
											</div>

											<div class="form-group">
												<label for="note" class="control-label col-lg-2">角色描述</label>
												<div class="col-lg-3">
													<textarea class="form-control" id="note" name="note" rows="3"></textarea>
												</div>
											</div>

											<div class="form-group">
												<label for="auth" class="control-label col-lg-2">权限选择</label>
												<div class="col-lg-8">
													<div class="col-lg-12 p-l-0">
														<div class="panel panel-success">
															<div class="panel-heading form-inline">
																<input name="rules[]" class="checkbox w-20 m-r-5 father" type="checkbox" />系统介绍
																<span class="tools pull-right">
																<a href="javascript:;" class="fa fa-chevron-down"></a>
															</span>
															</div>
															<div class="panel-body panel-border">

																<div class="col-lg-2 form-inline">
																	<input name="rules[]" class="checkbox w-16 m-r-5 children" type="checkbox" />
																	<span>系统介绍</span>
																</div>
																<div class="col-lg-2 form-inline">
																	<input name="rules[]" class="checkbox w-16 m-r-5 children" type="checkbox" />
																	<span>系统介绍</span>
																</div>
																<div class="col-lg-2 form-inline">
																	<input name="rules[]" class="checkbox w-16 m-r-5 children" type="checkbox" />
																	<span>系统介绍</span>
																</div>
																<div class="col-lg-2 form-inline">
																	<input name="rules[]" class="checkbox w-16 m-r-5 children" type="checkbox" />
																	<span>系统介绍</span>
																</div>
																<div class="col-lg-2 form-inline">
																	<input name="rules[]" class="checkbox w-16 m-r-5 children" type="checkbox" />
																	<span>系统介绍</span>
																</div>
																<div class="col-lg-2 form-inline">
																	<input name="rules[]" class="checkbox w-16 m-r-5 children" type="checkbox" />
																	<span>系统介绍</span>
																</div>

															</div>
														</div>

													</div>

												</div>
											</div>

											<div class="form-group">
												<input type="hidden" name="id" id="id" value="0">
												<div class="col-lg-offset-2 col-lg-10">
													<button class="btn btn-primary" type="submit">保存</button>
													<button class="btn btn-default" type="reset">重置</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</section>
						</div>
					</div>
					<!-- END ROW  -->
				</section>
				<!-- END WRAPPER  -->
			</section>
			<!-- END MAIN CONTENT -->
			<!-- BEGIN FOOTER -->
			<?php $this->load->view('Public/footer.html');?>
			<!-- END FOOTER -->
		</section>
		<!-- END SECTION -->
		<!-- BEGIN JS -->
		<?php $this->load->view('Public/footjs.html');?>
		<!--  INLINE SCRIPYS RELATED TO THIS PAGE -->
		<script type="text/javascript">
			$(".children").click(function() {
				$(this).parent().parent().parent().parent().find(".father").prop("checked", true);
			})
			$(".father").click(function() {
				if(this.checked) {
					$(this).parent().parent().parent().parent().find(".children").prop("checked", true);
				} else {
					$(this).parent().parent().parent().parent().find(".children").prop("checked", false);
				}
			})
			
		</script>
		<!-- END JS -->
	</body>
	<!--<?php if(in_array($v['id'],$group['rules'])){echo 'checked="checked"';};?>  value="{$v['id']}"-->

</html>