<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- BEGIN META -->
		<?php $this->load->view('Public/headmeta.html');?>
		<!-- END META -->

		<!-- BEGIN STYLESHEET-->
		<?php $this->load->view('Public/headcss.html');?>
		<!-- END STYLESHEET-->
		<title>
			<?php echo $current['title']."-".$setting['title'];?>
		</title>

	</head>

	<body>
		<!-- BEGIN SECTION -->
		<section id="container">
			<!-- BEGIN HEADER -->
			<?php $this->load->view('Public/header.html');?>
			<!-- END HEADER -->
			<!-- BEGIN SIDEBAR -->
			<?php $this->load->view('Public/sidebar.html');?>
			<!-- END SIDEBAR -->
			<!-- BEGIN MAIN CONTENT -->
			<section id="main-content">
				<!-- BEGIN WRAPPER  -->
				<section class="wrapper">
					<!-- TOPMENU ROW  -->
					<?php $this->load->view('Public/topmenu.html');?>
					<!-- TOPMENU ROW -->

					<!-- BEGIN ROW -->
					<div class="row">
						<div class="col-lg-12">
							<section class="panel">
								<header class="panel-heading">
									<span class="label label-primary"><?php echo $current['title'];?></span>
									<span class="tools pull-right"> </span>
								</header>
								<div class="panel-body">
									<ul class="timeline">
										<li class="centering-line"></li>
										<!-- BEGIN TIME CAT-->
										<li class="center-timeline-cat">
											<div class="inner">
												March 2014
											</div>
											<!-- /.inner -->
										</li>
										<!-- END TIME CAT-->
									</ul>
									<ul class="timeline">
										<!-- BEGIN CENTERING LINE -->
										<li class="centering-line"></li>
										<!-- END CENTERING LINE -->

										<!-- BEGIN TIME CAT-->
										<li class="center-timeline-cat">
											<div class="inner">
												January 2014
											</div>
											<!-- /.inner -->
										</li>
										<!-- BEGIN END CAT-->
										<!-- BEGIN TIME CAT-->
										<li class="center-timeline-cat">
											<div class="inner">
												December 2013
											</div>
											<!-- /.inner -->
										</li>
										<!-- BEGIN END CAT-->
										<!-- BEGIN TIME CAT-->
										<li class="center-timeline-cat">
											<div class="inner">
												November 2013
											</div>
											<!-- /.inner -->
										</li>
										<!-- BEGIN END CAT-->
										<!-- BEGIN HIGHLIGHT TIMELINE MOMENT -->
										<li class="item-timeline highlight text-center">
											<div class="buletan"></div>
											<div class="inner-content">
												<h2 class="text-info"><i class="fa fa-flag-checkered"></i></h2>
												<h4>Joined Cleret Gombel</h4>
												<p class="text-muted">November 28, 2013</p>
											</div>
											<!-- /.inner-content -->
										</li>
										<!-- END HIGHLIGHT TIMELINE MOMENT -->
										<!-- BEGIN HIGHLIGHT TIMELINE MOMENT -->
										<li class="item-timeline highlight text-center">
											<div class="buletan"></div>
											<div class="inner-content">
												<h2 class="text-info"><i class="fa fa-male"></i></h2>
												<h4>Born</h4>
												<p class="text-muted">January 01, 1990</p>
											</div>
											<!-- /.inner-content -->
										</li>
										<!-- END HIGHLIGHT TIMELINE MOMENT -->
									</ul>
								</div>
							</section>
						</div>
					</div>
					<!-- END ROW -->
				</section>
				<!-- END WRAPPER -->
			</section>
			<!-- END MAIN CONTENT -->
			<!-- BEGIN FOOTER -->
			<?php $this->load->view('Public/footer.html');?>
			<!-- END FOOTER -->
		</section>
		<!-- END SECTION -->
		<!-- BEGIN JS -->
		<?php $this->load->view('Public/footjs.html');?>
		<!-- END JS -->
	</body>

</html>